<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Reviews Completed</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= Review.where(completed_by: user.id).count %></td>
        <td><%= link_to 'Show', user %></td>
        <td>
          <%= link_to user, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="fa fa-trash-o" aria-hidden="true"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path, class: 'button' %>
