<div class="columns">
  <div class="column is-three-quarters">
    <%= render 'diff', review: @review %>
  </div>
  <div class="column">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title"><%= @review.repository.name %></p>
      </header>
      <div class="card-content">
        <p><%= @review.name %></p>
        <p>
          <span data-balloon="created" data-balloon-pos="right">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
          </span>
          <%= time_ago_in_words(@review.created_at) %> ago
        </p>
        <br />
        <% if @review.review_issues %>
          <%= render 'issues', review: @review %>
        <% end %>
        <button class="button" id="review-issue-attach">Attach Issue</button>
        <div class="hide" id="review-issue-container">
          <%= render 'review_issues/form', review_issue: @review.review_issues.new %>
        </div>
      </div>
      <div class="card-footer">
        <div class="card-footer-item">
          <%= render 'form', review: @review, button_action: :complete %>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<%= link_to 'Back', reviews_path %>
